.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 10px;
}

.App-intro {
  font-size: large;
}

.Intro {
  margin-left: 15%;
  text-align: left;
}

.Layout {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

.ProjectLayout {
  margin-left: 15%;
  margin-right: 15%;
  background-color: orange;
}

.imgAva {
  height: 100px;
  width: auto;
  border-radius: 50%;
}


ul {
  /* text-align: center;
    list-style-type: none; */
  padding: 5px;
  list-style-type: none;
}
ul li {
  margin-top: 5px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  word-spacing: 6px;
}

h3, h4 {
  word-spacing: 5px;
  font-size: 30px;
}

a {
  color: #5d5d5d;
}

a:link {
  text-decoration: none;
  
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: inherit;
}


footer {
  position: absolute;
  left: 0;
  width: 100%; 
  background-color: #262626;
  padding-top: 50px;
}

footer p {
  line-height: 0.5;
  font-size: 14px; 
  word-spacing: 1px;
  color: #5d5d5d;
  margin-left: 15%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
